head
    title Quadratic Equation
    script(type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")
body
    
    .container
        h1 Quadratic Equation
        p.flow-text from LearningPoints™
        +plotForm


