head
    title Quadratic Equation
    script(type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js")

body
    header
        h1 Welcome to Quadratic Equation
        span From Learning Points

    +plotForm


