.fixed-action-btn.horizontal.click-to-toggle
    a.modal-trigger.btn-floating.btn-large.red.waves-effect(id="help" data-target="helpModal" data-disabled="true")
        i.material-icons live_help

.modal.modal-fixed-footer(id="helpModal")
    .modal-content
        h4 Modal Header
        p A bunch of text

    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat Fechar
