a.modal-trigger.waves-effect.btn-flat.helpBtn(id="help" data-target="helpModal") 
    i.material-icons live_help

.modal.modal-fixed-footer(id="helpModal")
    .modal-content
        h4 FUNÇÃO DO 2º GRAU
        p 
            | Uma função do 2º grau é definida pela seguinte lei de formação:  f(x) = ax² + bx + c ou y = ax² + bx + c, onde a, b e c são números reais e a ≠ 0. Sua representação no plano cartesiano é uma parábola que, de acordo com o valor do coeficiente a, possui concavidade voltada para cima ou para baixo. A função do 2º grau assume três possibilidades de resultados ou raízes, que são determinadas quando fazemos f(x) ou y igual a zero, transformando a função numa equação do 2º grau, que pode vir a ser resolvida por Bháskara.
        h5 CONDIÇÕES - GRÁFICO DA FUNÇÃO
        ul
            li
                | a &gt; 0, parábola com a concavidade voltada para cima.
            li
                | a &lt; 0, parábola com a concavidade voltada para baixo.
            li
                | ∆ &gt; 0, a parábola intercepta o eixo das abscissas em dois pontos.
            li
                | ∆ = 0, a parábola intercepta o eixo das abscissas somente em um ponto.
            li
                | ∆ &lt; 0, a parábola não intercepta o eixo das abscissas.
        h5 PONTOS NOTÁVEIS DO GRÁFICO DE UMA FUNÇÃO DO 2º GRAU
        p 
            | O vértice da parábola constitui um ponto importante do gráfico, pois indica o ponto de valor máximo e o ponto de valor mínimo. De acordo com o valor do coeficiente a, os pontos serão definidos, observe:
        ul
            li
                |  Quando o valor do coeficiente a for menor que zero, a parábola possuirá valor máximo.
            li
                |  Quando o valor do coeficiente a for maior que zero, a parábola possuirá valor mínimo.
    
    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat Fechar
