form.equation
    input(type="text" name="varA" placeholder="Entre com o valor de A")
    input(type="text" name="varB" placeholder="Entre com o valor de B")
    input(type="text" name="varC" placeholder="Entre com o valor de C")
    div
        button(type="submit") Submit

.plotGraph(id="plot")
