.row
    form.equation.col.s12
        .row
            .input-field.col.s4
                input(type="tel" id="varA" name="varA" placeholder="Valor A")
                label.active(for="varA") ax²
            .input-field.col.s4
                input(type="tel" id="varB" name="varB" placeholder="Valor B")
                label.active(for="varB") bx
            .input-field.col.s4
                input(type="tel" id="varC" name="varC" placeholder="Valor C")
                label.active(for="varC") c

        blockquote
            p.flow-text
                | #{outputMsg}

        .row
            button.waves-effect.waves-light.btn(type="submit") Plot
            button.waves-effect.purple.waves-light.btn.gameMode(class="{{#if gameRunning}}disabled{{/if}}") 
                if gameRunning
                    | &#8678;
                else
                    | Vamos Jogar?

.plotGraph(id="plot")

